* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

body {
  background: #363636;
  color: white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0a0a0a;
}

button {
  cursor: pointer;
  font-size: 1em;
  background-color: transparent;
}

li {
  float: right;
  font-size: 1em;
}

li h1 {
  display: block;
  font-size: 1em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown Menu */
.dropdown {
  margin-right: 10em;
}

li button,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
}

li.dropdown > div button {
  text-align: center;
}

li button:hover,
.dropdown:hover .dropbtn {
  background-color: #242424;
}

li.dropdown {
  display: inline-block;
}

/* Title */
#classesPageTitle {
  text-align: center;
  margin-top: 1.5em;
}

/* Lesson Card */
.card-container{
  margin-top: 3em;
  display: flex;
}

.card {
  background-color: whitesmoke;
  color: black;
  max-width: 15em;
  margin: auto;
  font-family: arial;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card p {
  text-align: left;
  padding: 0.5em;
  padding-left: 1em;
  font-size: 1.1em;
}
